.pagination {
  --pagination-font-size: 14px;
  --pagination-font-weight: 600;
  --pagination-link-gap: calc(var(--base-spacing) / 2);
  --pagination-link-line-height: 1.25;
  --pagination-margin-block-start: calc(var(--base-spacing) * 8);
  --pagination-text-transform: none;

  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 64px;
}

.numbers {
  display: inline-flex;
  margin-inline: auto;
}

.link {
  --link-navigation-font-size: var(--pagination-font-size);
  --link-navigation-line-height: var(--pagination-link-line-height);
  --link-navigation-text-transform: var(--pagination-text-transform);

  display: flex;
  gap: calc(var(--base-spacing) / 2);
  padding-inline: var(--base-spacing);
}

.linkActive {
  composes: navigationActive from 'components/link/link.module.css';
}

.nextLink {
  composes: link;
}

.previousLink {
  composes: link;
}

.arrow {
  transition: transform 0.3s ease-in;
}

.previousLink:hover .arrow {
  transform: translateX(-4px);
}

.nextLink:hover .arrow {
  transform: translateX(4px);
}
