.timestamp {
  --timestamp-color: var(--color-default-600);
  --timestamp-gap: calc(var(--base-spacing) / 2);

  display: inline-flex;
  gap: var(--timestamp-gap);
}

.body1 {
  --timestamp-body1-font-size: 14px;

  --body1-color: var(--timestamp-color);
  --body1-font-size: var(--timestamp-body1-font-size);
  --body1-font-weight: 300;
  --body1-margin-bottom: calc(var(--base-spacing) * 4);
  --body1-margin-top: calc(var(--base-spacing) * 4);
}
