.tableOfContents {
  position: fixed;
  right: calc(var(--base-spacing) * 2);
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

.tableOfContentsList {
  composes: body2 from "@/components/text/text.module.css";
  list-style-type: none;
  margin-left: 0;
  margin-top: var(--base-spacing);
  padding-left: 0;
}

.tableOfContentsList .tableOfContentsList {
  padding-left: var(--base-spacing);
}

.link {
  text-decoration: none;
}

.linkActive {
  color: var(--text-color);
}

.placeholder {
  background-color: var(--color-default-200);
  border-radius: var(--border-radius);
  display: block;
  height: 2px;
  transition: ease-in-out background-color 0.3s;
  width: 16px;
}

.active {
  background-color: var(--color-default-400);
}

.placeholderContainer {
  composes: tableOfContents;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
}
