.figure {
  margin-block: calc(var(--base-spacing) * 4);
  margin-inline: 0;
}

.right {
  float: right;
}

.circle {
  clip-path: circle();
  shape-outside: circle();
}

.caption {
  composes: finePrint from '@/components/text/text.module.css';

  text-align: center;
}
